@page "/fetchdata"
@using BlazorApp1.Shared
@using BlazorApp1.Client.Store.WeatherUseCase
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<button class="btn btn-danger my-2" @onclick="ShowDeleteModal" disabled="@(!WeatherState.Value.CheckedIds.Any())">삭제</button>
@if (WeatherState.Value.IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"><input type="checkbox"/></div>
                <div class="col">Date</div>
                <div class="col">Temp. (C)</div>
                <div class="col">Temp. (F)</div>
                <div class="col">Summary</div>
        </div>
            @foreach (var item in WeatherState.Value.TableView())
            {
                <div class="row">
                    <div class="col-1">
                        <input type="checkbox" checked="@item.Checked" @onchange="e => Check(e, item.Dto.Id)" />
                    </div>
                    <div class="col">@item.Dto.Date.ToShortDateString()</div>
                    <div class="col">@item.Dto.TemperatureC</div>
                    <div class="col">@item.Dto.TemperatureF</div>
                    <div class="col">@item.Dto.Summary</div>
                </div>
            }
    </div>
    <div class="d-flex justify-content-between">
                <HxDropdown >
                        <HxDropdownToggleButton Color="ThemeColor.Primary" Outline="true">10개씩 보기</HxDropdownToggleButton>
	                    <HxDropdownMenu>
		                    <HxDropdownItem >10개씩 보기</HxDropdownItem>
		                    <HxDropdownItem >30개씩 보기 </HxDropdownItem>
                            <HxDropdownItem >50개씩 보기 </HxDropdownItem>
	                    </HxDropdownMenu>
                </HxDropdown>
                <HxPager CurrentPageIndex="0" TotalPages="10" />
    </div>
}



