@page "/fetchdata"
@using BlazorApp1.Shared
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<button class="btn btn-danger" @onclick="Delete">삭제</button>

@if (WeatherState.Value.IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in WeatherState.Value.TableView)
            {
                <tr>
                    <td>
                        <input type="checkbox" checked="@item.Checked" @onchange="e => Check(e, item.Dto.Id)" />
                    </td>
                    <td>@item.Dto.Date.ToShortDateString()</td>
                    <td>@item.Dto.TemperatureC</td>
                    <td>@item.Dto.TemperatureF</td>
                    <td>@item.Dto.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


